<form [formGroup]="planForm">
  <div class="form-group">
    <label for="start">Starting Point</label>
    <input type="text" class="form-control" formControlName="start" id="start" aria-describedby="startHelp" placeholder="Enter your start station">
    <small id="startHelp" class="form-text text-muted">Please enter the desired start station.</small>
  </div>
  <div class="form-group">
    <label for="end">Ending Point</label>
    <input type="text" class="form-control" formControlName="end" id="end" aria-describedby="endHelp" placeholder="Enter your end station">
    <small id="endHelp" class="form-text text-muted">Please enter the desired end station.</small>
  </div>
  <button type="button" class="btn btn-primary" (click)="lookup()">Lookup Route</button>
  <!-- Modal -->
  <div id="exampleModal" class="model" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel"
       *ngIf="showNotification">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Choose a connection</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You have successfully chosen a connection.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="disableNotification()">OK</button>

        </div>
      </div>
    </div>
  </div>
  <table class="table" *ngIf="connectionResults$|async as connectionResults" style="margin-top: 3rem;">
    <thead>
      <tr>
        <th>From</th>
        <th>Departure</th>
        <th>To</th>
        <th>Arrival</th>
        <th>Rank</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let connection of connectionResults; let i = index">
        <td>{{connection.from}}</td>
        <td>{{connection.depart|date:'short'}}</td>
        <td>{{connection.to}}</td>
        <td>{{connection.arrival|date:'short'}}</td>

        <span *ngFor="let counter of rankingArray[i];">
          <span class="fa fa-star" aria-hidden="true"></span>

        </span>
        <span *ngIf="!rankingArray[i] || rankingArray[i].length === 0 " class="fa fa-star-o" aria-hidden="true"></span>

        <td><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
                    (click)="choose(connection)">Choose</button></td>
      </tr>
    </tbody>
  </table>
</form>




