.jumbotron + .container::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.5;
  background-image: url("../assets/shutterstock_650383249_2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
