<video id="video" width="600" height="400" style="border: 1px solid gray"></video>
<div>
  <button type="button" class="btn btn-primary"  id="scanButton">Scan</button>
  <button type="button" class="btn btn-primary" id="resetButton">Reset</button>
</div>
<div id="sourceSelectPanel" style="display:none">
  <label for="sourceSelect">Change video source:</label>
  <select id="sourceSelect" style="max-width:400px"></select>
</div>

<label>Result:</label>
<blockquote>
  <p id="result"></p>
</blockquote>

<form [formGroup]="checkinForm">
  <div class="form-group">
    <label for="station">Station ID</label>
    <input type="text" class="form-control" formControlName="station" id="station" aria-describedby="stationHelp" placeholder="Enter station id">
    <small id="stationHelp" class="form-text text-muted">Please enter the desired station id manually.</small>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="noConnections">You have no current connections.</div>
  <button type="button" class="btn btn-primary" (click)="doCheckIn()">Check-In</button>
</form>
