<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4" style="text-align: center;">
    <h2>plan</h2>
    <p style="font-size: 10rem;"><i class="fa fa-map-signs" aria-hidden="true"></i></p>
    <button routerLink="/" class="btn btn-outline-primary btn-lg">Choose your route</button>
  </div>
  <div class="col-md-4" style="text-align: center;">
    <h2>travel</h2>
    <p style="font-size: 10rem;"><i class="fa fa-bus" aria-hidden="true"></i></p>
    <button routerLink="/checkin" class="btn btn-outline-primary btn-lg">Check-In</button>
    <button routerLink="/checkout" class="btn btn-outline-primary btn-lg">Check-Out</button>
  </div>
  <div class="col-md-4" style="text-align: center;">
    <h2>enjoy</h2>
    <p style="font-size: 10rem;"><i class="fa fa-gamepad" aria-hidden="true"></i></p>
    <button routerLink="/" class="btn btn-outline-primary btn-lg">Play</button>
  </div>
</div>
